body{
    background-image: url(../fotos/fondo_pagina.jpg);

}

#barra2 img{
    display: none;
}

#barra img{
    width: 100%;
    height: 100px;
}

nav{
    
    display: flex;
    justify-content: center;
}



nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: -38px;
    
}

nav ul li {
    --c: rgb(21, 180, 29);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {

    color: rgb(255, 255, 255);
}a{
    text-decoration: none;
    color:  rgb(21, 180, 29);
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}nav a:hover{
    color: rgb(255, 255, 255);   
}

.productos{
    display: flex;
    justify-content: center;
}

.productos img{
    border-radius: 20px;
    box-shadow: 1px 1px 20px 7px black;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }

.indice{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    animation-duration: 3s;
    animation-name: slidein;
}.indice a{
    text-decoration: none;
    color: black;
}
.indice1 div{
    transition: transform .8s;
    box-shadow: 1px 1px 20px 7px black;
    border-radius: 20px;
    margin-right: 25px;
}
.indice1 div:hover{
    transform: scale(1.1); 
}
a p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.indice1 div{
  
    background-color: white;
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

.indice1{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
    align-content: flex-end;
}

.indice2 img{
    display: flex;
    box-shadow: 1px 1px 20px 7px black;
    border-radius: 15px;
}

footer img{
    border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

@media only screen and (max-width : 900px) {


    #barra img{
        display: none;
    }

    #barra2 img{
        display: block;
        width: 100%;
        height: 100px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-left: -38px;
        justify-content: center;

    }
    
    nav ul li {
        --c: rgb(21, 180, 29);
        color: var(--c);
        font-size: 16px;
        border: 0.3em solid var(--c);
        border-radius: 0.5em;
        width: 12em;
        height: 3em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin: 1em;
        margin: 0 auto;
        margin-top: 20px;
    }

     .productos img{
        width: 90%;
        height: 90%;
     }

     .indice1{
        display: flex;
        flex-direction: column;
     }

    footer img{
        width: 100%;
        height: 100%;
    }

} 
